<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Application context definition for JPetStore's business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="taskEngine" class="net.ninecube.core.task.impl.TaskEngineImpl" init-method="init">
		<property name="quartzScheduler" ref="quartzScheduler" />
		<property name="tasks">
			<list>
				<bean class="net.ninecube.core.task.impl.TaskDefinitionImpl">
					<property name="idno" value="cm" />
					<property name="name" value="指标计算任务" />
					<property name="group" value="指标" />
					<property name="concurrent" value="false" />
					<property name="description" value="计算指定日期范围内的指标" />
					<property name="taskClass" value="net.ninecube.venus.task.CalculateMetric" />
					<property name="parameters">
						<list>
							<bean class="net.ninecube.core.config.field.EnumFieldConf">
								<property name="name" value="frequence" />
								<property name="cname" value="频度" />
								<property name="enumname" value="frequence" />
							</bean>
							<bean class="net.ninecube.core.config.impl.FieldConfImpl">
								<property name="name" value="startTargetDate" />
								<property name="cname" value="起始时间" />
								<property name="type" value="date" />
								<property name="req" value="true" />
							</bean>
							<bean class="net.ninecube.core.config.impl.FieldConfImpl">
								<property name="name" value="endTargetDate" />
								<property name="cname" value="结束时间" />
								<property name="type" value="date" />
								<property name="req" value="true" />
							</bean>
							<bean class="net.ninecube.core.config.field.EnumFieldConf">
								<property name="name" value="saveToDB" />
								<property name="cname" value="是否保存结果到数据库" />
								<property name="enumname" value="yesno" />
								<property name="value" value="false" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="net.ninecube.core.task.impl.TaskDefinitionImpl">
					<property name="idno" value="cpp" />
					<property name="name" value="营销计划计算任务" />
					<property name="group" value="积分" />
					<property name="concurrent" value="false" />
					<property name="description" value="根据条件计算营销计划积分" />
					<property name="taskClass" value="net.ninecube.venus.task.CalculatePromotionPlan" />
					<property name="parameters">
						<list>
							<bean class="net.ninecube.core.config.impl.FieldConfImpl">
								<property name="name" value="targetDate" />
								<property name="cname" value="计算时间" />
								<property name="type" value="date" />
								<property name="req" value="false" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<alias name="taskEngine" alias="taskDefinitionManager" />
	<alias name="taskEngine" alias="taskStatusManager" />

</beans>
